   /* Style by Sean Leitch | 22 Feb 2021 */
   
   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       font-family: sanfran !important;
   }
   
   html {
       background-color: #a3ffea;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       scroll-behavior: smooth;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
       color: #333333;
       width: 100%;
       height: 100%;
   }
   
   main {
       margin: auto;
       max-width: 720px;
   }
   
   .containerIndex {
       height: 100vh;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
   }
   
   h1 {
       color: #10a381;
       font-weight: 500;
   }
   
   h2 {
       color: #1D1D1F !important;
       word-break: break-all;
       font-size: 1.3em;
       font-weight: lighter;
   }
   
   .card-rounded {
       border-radius: 2.3em !important;
       border-color: transparent;
       background: #ffffff;
       margin: auto;
       height: auto;
       width: 90%;
       max-width: 620px;
       padding: 1.5em;
       box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(185, 201, 255, 0), 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgb(223, 250, 255), inset 0px 0px 4px rgba(209, 212, 255, 0.2);
   }
   
   .outerBar {
       -moz-appearance: none;
       -webkit-appearance: none;
       appearance: none;
       background-color: transparent;
       font-size: 18px;
       overflow-wrap: break-word;
       letter-spacing: 0.1em;
       color: #091747;
       margin-top: 0.7em;
       margin-right: 0.2em;
       margin-left: 0.2em;
       width: 100%;
       max-width: 100%;
       padding: 0em;
       outline: none;
       border: none;
       border-radius: 30px;
       box-shadow: inset 2px 2px 5px #d8d8d896, inset -5px -5px 10px #8a8a8a42;
   }
   
   .innerBar {
       -moz-appearance: none;
       -webkit-appearance: none;
       appearance: none;
       background-color: #b3b3b3;
       font-size: 18px;
       overflow-wrap: break-word;
       letter-spacing: 0.1em;
       color: #091747;
       margin: 0;
       width: 0%;
       max-width: 100%;
       padding: 1em;
       outline: none;
       border: none;
       border-radius: 30px;
       animation: loadingBar;
       animation-duration: 18s;
       animation-iteration-count: infinite;
       animation-delay: 1s;
       box-shadow: 2px 2px 5px #d8d8d896, -5px -5px 10px #8a8a8a42;
   }
   
   @font-face {
       font-family: sanfran;
       src: url(../fonts/sanfran.otf);
   }
   
   .inlinediv {
       text-align: center;
   }
   
   p {
       font-weight: 300;
       margin-top: 1em;
       line-height: 1.45em;
       width: 80%;
   }
   
   .footer {
       text-align: center;
       padding-top: 1em;
       text-decoration: none;
   }
   
   a:link,
   a:visited {
       text-decoration: none;
       color: #ffffff;
       padding-left: 0.3em;
       padding-right: 0.3em;
   }
   
   .txt-blue {
       color: blue !important;
   }
   
   .my-1 {
       margin-top: 1em;
       margin-bottom: 1em;
   }
   
   .ml-1 {
       margin-left: 1em;
   }
   
   .mb-3 {
       margin-bottom: 1em;
   }
   
   .btn-success {
       position: relative;
       color: #fff;
       background-color: #10a381;
       border-color: #10a381;
       margin-right: auto;
       margin-left: auto;
   }
   
   .btn-success:hover {
       color: #fff;
       background-color: #118d70;
       border-color: #0c795f
   }
   
   .btn-success.focus,
   .btn-success:focus {
       box-shadow: 0 0 0 .2rem #0a5c49d3
   }
   
   .btn-success.disabled,
   .btn-success:disabled {
       color: #fff;
       background-color: #118d70;
       border-color: #0c795f
   }
   
   .btn-success:not(:disabled):not(.disabled).active,
   .btn-success:not(:disabled):not(.disabled):active,
   .show>.btn-success.dropdown-toggle {
       color: #fff;
       background-color: #118d70;
       border-color: #0c795f
   }
   
   .btn-success:not(:disabled):not(.disabled).active:focus,
   .btn-success:not(:disabled):not(.disabled):active:focus,
   .show>.btn-success.dropdown-toggle:focus {
       box-shadow: 0 0 0 .2rem #0a5c49d3
   }
   
   .btn {
       display: inline-block;
       font-weight: 400;
       text-align: center;
       white-space: nowrap;
       vertical-align: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       border: 1px solid transparent;
       padding: .375rem .75rem;
       font-size: 1rem;
       line-height: 1.5;
       border-radius: .25rem;
       transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
   }
   
   .btn:focus,
   .btn:hover {
       text-decoration: none
   }
   
   .btn.focus,
   .btn:focus {
       outline: 0;
       box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
   }
   
   .btn.disabled,
   .btn:disabled {
       opacity: .65
   }
   
   .btn:not(:disabled):not(.disabled) {
       cursor: pointer
   }
   
   .btn:not(:disabled):not(.disabled).active,
   .btn:not(:disabled):not(.disabled):active {
       background-image: none
   }
   
   a.btn.disabled,
   fieldset:disabled a.btn {
       pointer-events: none
   }