.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    letter-spacing: 0.1em;
    color: #1D1D1F;
    margin-top: 0.2em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    max-width: 50%;
    padding: 0.5em;
    border: .2rem solid #10a381;
    font-size: 1rem;
    border-radius: .5rem;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.input:focus {
    width: 850%;
    max-width: 85%;
}

.label {
    display: block;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #61677C;
    text-shadow: 1px 1px 0 #FFF;
    margin-bottom: 8px;
}

.buttonindex {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 6px 2em;
    display: flex;
    flex-direction: column;
    background: #4b9221;
    width: auto;
    text-decoration: none;
    color: #fff;
    outline: none !important;
    border: 0;
    border-radius: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 10px 10px 15px #37aa4140, -10px -8px 15px #bfffba40;
    transition: 0.3s;
}

.buttonindex:hover {
    background: #3a7c13;
    box-shadow: inset 2px 2px 5px #24470f, inset -3px -3px 7px #00ff1540;
}

.buttonindex:active {
    outline: none !important;
}

.buttonindex:focus {
    outline: none !important;
}

.button {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.8em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    background: #4b9221;
    width: auto;
    height: 33px;
    text-decoration: none;
    color: #fff;
    outline: none !important;
    border: .0625rem solid #41801c;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 10px 10px 15px #37aa4140, -10px -8px 15px #bfffba40;
    transition: 0.3s !important;
}

.button:hover {
    background: #4b9221;
    border: .0625rem solid #41801c00;
    box-shadow: inset 2px 2px 5px #24470f, inset -3px -3px 7px #00ff1540;
}

.button:active {
    outline: none !important;
}

.button:focus {
    outline: none !important;
}

p {
    font-weight: 300;
    margin-top: 1em;
    line-height: 1.45em;
    width: 80%;
}

.footer {
    text-align: center;
    padding-top: 1em;
    text-decoration: none;
}

.home {
    text-align: left;
    text-decoration: none;
    margin-left: 1em;
    margin-top: 1em;
}

a:link,
a:visited {
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 1em;
    margin-top: 2em;
}